name: Reducer Lambda Code

on:
  push: 
    branches: [ main ]
  workflow_run:
    workflows: [ "CD Infrastructure" ]
    branches: [ main ]
    types: [ completed ]

jobs:
  upload-to-s3:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: reducer
    step:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'
      - run: npm install
      - run: npm run build
      - run: npm prune --production
      - run: npm run package
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - run: aws s3api put-object --bucket photo-sync-trashcanmonster8-lambda-code --key function.zip --body function.zip